html
    head
        title= 'ouijabeederboard.com'
        meta(http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'unsafe-inline' 'unsafe-eval' https://test.ouijabeederboard.com")
        link(rel='stylesheet', href='/public/styles/index.css')
        //script(src='/public/scripts/index.js')
        script.
            'use strict';

            /**@type {WebSocket}*/var ws;
            /**@type {NodeJS.Timeout}*/var alive;

            tryConnection();

            function tryConnection(retry = true) {
                if (retry) {
                    configureSocket();
                    alive = setTimeout(tryConnection, 60000, false);
                } else console.log('websocket connection failed');
            }
            function configureSocket() {
                ws = new WebSocket('wss://test.ouijabeederboard.com/ws');
                ws.onopen = (ev) => console.log('websocket connected');
                ws.onmessage = (msg) => {
                    clearTimeout(alive);
                    alive = setTimeout(tryConnection, 60000);
                    if (msg.data == 'ping') console.log('ping');
                    else if (msg.data == 'pong') console.log('pong');
                    else {
                        const data = JSON.parse(msg.data);
                        if (data.progress > 1) {
                            console.log(data);
                            updatePage(data);
                        } else {
                            //this is where charts will be recieved
                            
                        }
                    }
                }
            }
            function updatePage(data) {
                const written = document.getElementById('written');
                const remaining = document.getElementById('remaining');
                const oldLength = written.innerHTML.length;
                const newLength = data.progress;
                const diff = newLength - oldLength;
                written.innerHTML += remaining.innerHTML.slice(0, diff);
                remaining.innerHTML = remaining.innerHTML.slice(diff);
                document.getElementById('percent').innerHTML = data.percent;
                document.getElementById('percent24').innerHTML = data.percent24;
                document.getElementById('last-written').innerHTML = data.lastWritten;
                document.getElementById('first-remaining').innerHTML = data.firstRemaining;
                const leaderboard = document.getElementById('leaderboard');
                for (let update of data.leaderboard) {
                    const row = document.getElementById(update.author);
                    const score = update.comments;
                    row.children[2].innerHTML = score;
                    while (true) {
                        let nextrow = row.previousElementSibling;
                        if (nextrow == null) break
                        let nextScore = parseInt(nextrow.children[2].innerHTML);
                        if (score > nextScore) {
                            let temp = row.children[0].innerHTML;
                            row.children[0].innerHTML = nextrow.children[0].innerHTML;
                            nextrow.children[0].innerHTML = temp;
                            leaderboard.insertBefore(row, nextrow);
                        } else break
                    }
                }
                console.log(diff + ' new comment' + (diff == 1 ? '' : 's') + ', page updated');
            }
    body
        #leaderboard.table
            - for (i = 0; i < leaderboard.length; i++)
              div.row(id=leaderboard[i].author)
                p.place= (i+1) + '.'
                p.author= leaderboard[i].author
                p.comments= leaderboard[i].comments
        #content
            #metrics
                p.latest-comment Latest comment: 
                    a(href='https://ouijabeederboard.com/newest', target='_blank') ouijabeederboard.com/newest
                p.latest-comment-old Latest comment (old Reddit): 
                    a(href='https://ouijabeederboard.com/old.newest', target='_blank') ouijabeederboard.com/old.newest
                p.last-letters We are here:  
                    span#last-written.written= lastWritten
                    span.mark  ʌ 
                    span#first-remaining.remaining= firstRemaining
                p.percent Completion: 
                    span#percent= percent
                    span %
                p.percent24 Completed in the last 24 hours: 
                    span#percent24= percent24
                    span %
                #space
                    img(src='/public/beecloud.png')
                #source
                    p Want some discord? 
                        a(href='https://discord.gg/AXNz4ps73B', target='_blank') https://discord.gg/AXNz4ps73B
                    p Want some source code? 
                        a(href='https://github.com/MasterfulPleb/obb.com', target='_blank') https://github.com/MasterfulPleb/obb.com
            #progress
                  span#written.written= written
                  span#remaining.remaining= remaining
        #welcome
            h1 Welcome to oiujabeederboard.com!