html
    head
        title= 'Welcome to ouijabeederboard.com'
        link(rel="stylesheet", href="/public/styles/index.css")
    body
        #leaderboard.table
            - for (i = 0; i < leaderboard.length; i++)
              .row
                p.place= (i+1) + '.'
                p.author= leaderboard[i].author
                p.comments= leaderboard[i].comments
        #content
            p#latest-comment Latest comment: 
                a(href=lastCommentURL, target='_blank') https://www.reddit.com/.../?context=3
            p#latest-comment-old Latest comment (old Reddit): 
                a(href=lastCommentOld, target='_blank') https://old.reddit.com/.../?context=3
            p#last-letters Latest letters: 
                span= lastWritten
            p#next-letters Next letters: 
                span= firstRemaining
            p#source Want some source code? 
                a(href='https://github.com/MasterfulPleb/obb.com', target='_blank') https://github.com/MasterfulPleb/obb.com
        #welcome
            h1 Welcome to oiujabeederboard.com!