doctype html
html
    head
        title= 'ouijabeederboard.com'
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/public/styles/shared.css')
        link(rel='stylesheet', href='/public/styles/index.css')
        script(src='/public/scripts/index.js')
    body#body
        #nav-menu
            #obb
                h3 ouijabeederboard.com
            #menu-btn
                span Menu 
                img(src='/public/images/menu-button.svg')
            #nav-items-wrap.hide
                ul#nav-items
                    li#nav-leaderboard
                        span Leaderboard
                    li#nav-progress
                        span Live Progress
                    li#nav-stats
                        span Statistics
                    li#nav-dashboard
                        span Dashboard
                    li#nav-charts.link
                        a(href='/charts') Charts
                    li#nav-darkmode.toggle
                        span Nightmode
                        label.switch
                            input#darkmode(type='checkbox')
                            span.slider.round
                    li#links.toggle
                        a(href='https://discord.gg/AXNz4ps73B', target='_blank')
                            img(src='/public/images/discord.svg')
                        a(href='https://github.com/MasterfulPleb/obb.com', target='_blank')
                            img(src='/public/images/github.svg')
        #content-wrapper
            #content.dash
                #leaderboard.show
                    - for (i = 0; i < leaderboard.length; i++)
                        div.row(id=leaderboard[i].author)
                            p.place= (i+1) + '.'
                            p.author= leaderboard[i].author
                            p.comments= leaderboard[i].comments
                #data.show
                    #live-progress.show
                        p.latest-comment The end: 
                            a(href='https://ouijabeederboard.com/newest', target='_blank') ouijabeederboard.com/newest
                        p.latest-comment-old The end (old Reddit): 
                            a(href='https://ouijabeederboard.com/old.newest', target='_blank') ouijabeederboard.com/old.newest
                        p.we-are-here We are here:  
                            span#last-written.written= lastWritten
                            span.mark  ʌ 
                            span#first-remaining.remaining= firstRemaining
                        p.percent Completion: 
                            span#percent 100
                            span %
                        p.percent24 Completed in the last 24 hours: 
                            span#percent24 0
                            span %
                    #stats.show
                        p Total comments: 37061
                        //p 
                        p If you'd like a custom style on the leaderboard, message 
                            a(href='https://www.reddit.com/user/Krosis27') u/Krosis27
                            span  with your request
                        p More stats coming soon!
                        a(href='/public/images/beecloud.svg')
                            img#bee-cloud(src='')
                    #text-wall.show
                        span#written.written= written
                        span#remaining.remaining= remaining