html
    head
        title= 'ouijabeederboard.com'
        link(rel='stylesheet', href='/public/styles/index.css')
        script(src='/public/scripts/index.js')
    body
        #leaderboard.table
            - for (i = 0; i < leaderboard.length; i++)
              div.row(id=leaderboard[i].author)
                p.place= (i+1) + '.'
                p.author= leaderboard[i].author
                p.comments= leaderboard[i].comments
        #content
            #metrics
                p.latest-comment Latest comment: 
                    a(href='https://ouijabeederboard.com/newest', target='_blank') ouijabeederboard.com/newest
                p.latest-comment-old Latest comment (old Reddit): 
                    a(href='https://ouijabeederboard.com/old.newest', target='_blank') ouijabeederboard.com/old.newest
                p.last-letters We are here:  
                    span#last-written.written= lastWritten
                    span.mark  ʌ 
                    span#first-remaining.remaining= firstRemaining
                p.percent Completion: 
                    span#percent= percent
                    span %
                p.percent24 Completed in the last 24 hours: 
                    span#percent24= percent24
                    span %
                #space
                #source
                    p Want some discord? 
                        a(href='https://discord.gg/AXNz4ps73B', target='_blank') https://discord.gg/AXNz4ps73B
                    p Want some source code? 
                        a(href='https://github.com/MasterfulPleb/obb.com', target='_blank') https://github.com/MasterfulPleb/obb.com
            #progress
                  span#written.written= written
                  span#remaining.remaining= remaining
        #welcome
            h1 Welcome to oiujabeederboard.com!