doctype html
html
    head
        title= 'ouijabeederboard.com'
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/public/styles/index.css')
        script(src='/public/scripts/index.js')
    body
        #nav-menu
            #obb
                h3 ouijabeederboard.com
            #menu-btn
                span Menu 
                img(src='/public/images/menu-button.svg')
            #nav-items-wrap.hide
                ul#nav-items
                    li#nav-leaderboard
                        span Leaderboard
                    li#nav-progress
                        span Live Progress
                    li#nav-stats
                        span Statistics
                    li#nav-dashboard
                        span Dashboard
                    li#nav-charts
                        a(href='/charts') Charts
                    li#nav-websocket.toggle
                        span Live Updates
                        label.switch
                            input#websocket(type='checkbox')
                            span.slider.round
                    li#nav-darkmode.toggle
                        span Darkmode
                        label.switch
                            input#darkmode(type='checkbox')
                            span.slider.round
                    li#links.toggle
                        a(href='https://discord.gg/AXNz4ps73B', target='_blank')
                            img(src='/public/images/discord.svg')
                        a(href='https://github.com/MasterfulPleb/obb.com', target='_blank')
                            img(src='/public/images/github.svg')
        #content
            #leaderboard
                - for (i = 0; i < leaderboard.length; i++)
                    div.row(id=leaderboard[i].author)
                        p.place= (i+1) + '.'
                        p.author= leaderboard[i].author
                        p.comments= leaderboard[i].comments
            #live-progress
                p.latest-comment Latest comment: 
                    a(href='https://ouijabeederboard.com/newest', target='_blank') ouijabeederboard.com/newest
                p.latest-comment-old Latest comment (old Reddit): 
                    a(href='https://ouijabeederboard.com/old.newest', target='_blank') ouijabeederboard.com/old.newest
                p.we-are-here We are here:  
                    span#last-written.written= lastWritten
                    span.mark  ʌ 
                    span#first-remaining.remaining= firstRemaining
                p.percent Completion: 
                    span#percent= percent
                    span %
                p.percent24 Completed in the last 24 hours: 
                    span#percent24= percent24
                    span %
            #stats
                p
                p
                #bee-cloud
                    //img(src='/public/images/beecloud.png')
            #progress
                span#written.written= written
                span#remaining.remaining= remaining